.day-date {
   font-size: 14px;
 }
 
 .day-cont {

 -webkit-box-shadow: 11px 11px 38px -25px rgba(34, 60, 80, 0.2);
 -moz-box-shadow: 11px 11px 38px -25px rgba(34, 60, 80, 0.2);
 box-shadow: 11px 11px 38px -25px rgba(34, 60, 80, 0.2);
   height: 95%;
   width: 20%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
 }
 
 .day-sun {
   width: 45px;
   margin-top: 8%;
 }
 
 .day-temp {
   margin-top: 5%;
   font-size: 25px;
 }
 
 .day-wind-humi-cont {
   margin: 0 auto;
   margin-top: 8%;
   display: flex;
   justify-content: space-between;
   gap: 5px;
   align-items: center;
 }
 
 .day-wind-cont,
 .day-humi-cont {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   font-size: 13px;
 }
 
 .day-wind,
 .day-humidity {
   width: 13px;
 }
 