.five-days-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

 
  width: 95%;
  height: 70%;

  margin: 0 auto;
}

.error-div {
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
  height: 30%;
}
