.app_container {
  width: 35vw;
  height: 40vh;
  min-width: 400px;
  min-height: 300px;

  background-color: antiquewhite;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  cursor: pointer;
}
